/*doc
---
title: Form Address
category: Layout - Form
---

## 收件地址（縣市、鄉鎮市區、郵遞區號）排版

```slim_example
.form
  .form-address
    select.address-data name="country"
      option selected="selected" value="default"
        | 縣市
    select.address-data name="address-level3"
      option selected="selected" value="default"
        | 鄉鎮市區
    input.address-data autocomplete="postal-code" name="zip" pattern="\\d*" placeholder="100" required="required" type="number" /
```

*/

.form{
  .form-address {
    width: 100%;
    display: flex;
    .address-data {
      flex: 1;
    }
   }
}