// *************************************
//
//   Base
//   -> Base-level tags (body, p, etc.)
//   -> Typography
//
// *************************************


// -------------------------------------
//   Base-level 
// -------------------------------------
* {
  box-sizing: border-box; 
}

html {
  font-size: 100%;
  font-family: $b-fontFamily-sans;
  background-color: #fff;
}


body, select, input, textarea {
	color: $c-text;
}

::selection {
	color: $c-selected-font;
	background: $c-selected-background;
}

.page {
  // 解決頁面內容太短，頁尾漂浮的問題
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

// -------------------------------------
//   Block Content
// -------------------------------------

ul, ol, p, table {
  margin-bottom: $b-fontSize * 1.43;
  margin-top: 0;
}

li {
  // margin-bottom: $b-space-s;
  margin-top: 0;
}

// -------------------------------------
//   Inline Content
// -------------------------------------

img {
  max-width: 100%; // Add !important if needed. //
  height: auto;    // Add !important if needed. //
}

a {
  @include link-colors($c-link, $c-link-hover, $c-link-active, $c-link-visited, $c-link-focus);
  text-decoration:    none;
  transition:         color .3s ease-in-out;
}


// -------------------------------------
//   Typography
// -------------------------------------


// ----- Headers ----- //

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $b-fontFamily-sans;
  font-weight: 500; // Chrome底下思源黑體不支援數字字級
  line-height: $b-lineHeight;
}

// by nhkia
h1 { 
  @include font-size(28px);
}
h2 { 
  @include font-size(28px);
}
h3 { 
  @include font-size(19px);
}
h4 { 
  @include font-size(16px);
}
h5 { 
  @include font-size(16px);
}
h6 { 
  @include font-size(14px);
}



// ----- Article ----- //

ul, ol, a, table {
  @include font-size($b-fontSize,$b-lineHeight);
  line-height: $b-lineHeight;
}

p {
  @include font-size($b-fontSize);
  line-height: 1.8;
}

li > a {
  line-height: 2;
}

// ----- others ----- //


.text-important {
  color: $c-important;
}
.text-primary {
  color: $c-highlight;
}