// *************************************
//
//   Tools
//   -> Global utilities
//
// *************************************

%clearfix {
  zoom: 1; /* IE < 8 */
  &:before,
  &:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
      clear: both;
  }
}

// -------------------------------------
//   Display
// -------------------------------------

%l-inblock, .l-inblock {
  display: inline-block;
}

%l-block, .l-block {
  display: block;
}

%l-none, .l-none {
  display: none;
}


// -------------------------------------
//   Positioning
// -------------------------------------

%l-pullLeft, .l-pullLeft {
  float: left;
}
  

%l-pullRight, .l-pullRight {
  float: right;
}

// -------------------------------------
//   Margins
// -------------------------------------

// ----- Horizontal ----- //

%blockC ,.blockC {
  margin: auto;
}

// ----- Vertical ----- //

%vC ,.vC {
  // 和 blockC 併用，母元素打allC，要置中的子元素 blockC
  display: flex;
  justify-content: center;
  align-items: center;
}

// -------------------------------------
//   Text
// -------------------------------------

// ----- Alignment ----- //

%tC ,.tC {
  text-align: center;
}
%tR ,.tR {
  text-align: right;
}


// -------------------------------------
//   layout
// -------------------------------------

// .row
// components → row.scss

// Grid //
// .grid 裡面才有用

.col-xs-1 {
  @include span(1);
}
.col-xs-2 {
  @include span(2); 
}
.col-xs-3 {
  @include span(3);
}
.col-xs-4 {
  // @include span(4);
  width: 100%;
}

// 共用
.col-last {
  margin-right: 0;
}





