/*doc
---
title: Block
category: Structure - ContentWrapper
---

垂直區塊，搭配 .grid 使用（下層元素）

```slim_example
.block Content
```

## 垂直置中區塊

```slim_example
.block.block--vc Content
```


## 單一block

上下block都留白同樣的距離，給一整頁只有一個block的狀況使用

```slim_example
.block.block--full Content
```
*/


.block {
	@extend %clearfix;
  margin-bottom: $b-space;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// 搭配垂直置中

.block--vc {
	width: calc(100vw - #{$standard-gutter*4});
}


.block--full {
  margin-top: $b-space;
}