/*doc
---
title: Container
category: Structure - ContentWrapper
---

## Container

頁面的主體，主要要設定上下留白


```slim_example
	.container 內容
```

*/

.container {
  flex: 1; //解漂浮問題
	// padding-top: 55px + $b-space-s;
	padding-top: $b-space-s;
	padding-bottom: $b-space-s;
}



// -------------------------------------
//   Modifiers 風格種類
// -------------------------------------




// -------------------------------------
//   所屬元件
// -------------------------------------

