
// *************************************
//
//   container
//
// *************************************

.container {
  flex: 1; //解漂浮問題
	// padding-top: 55px + $b-space-s;
	padding-top: $b-space-s;
	padding-bottom: $b-space-s;
}



// -------------------------------------
//   Modifiers 風格種類
// -------------------------------------




// -------------------------------------
//   所屬元件
// -------------------------------------

