// *************************************
//
//   page
//
// *************************************


// -------------------------------------
//   container
// -------------------------------------

.container {
	background-color: #fff;
	width: 100%;
}

.content {
	@extend %clearfix;
	padding-top: $b-space-l;
	padding-bottom: $b-space-l;
}