// *************************************
//
//   works
//
// *************************************

.works-data, .works-content {
	img {
		border: 1px #aaa solid;
	}
}

.works-data {
	.metadata {
		@extend %tC;
		color: #666;
		font-size: small;
		margin-top: 24px;
		margin-bottom: 24px;
		.time {
			&:after {
				content: "◆";
				padding-left: 8px;
				padding-right: 8px;
			}
		}
		.tantou {}
	}
	.info{
		margin-top:24px;
		margin-bottom:36px; 
	}
}

.works-content {
	img, video, iframe, p , ol, ul {
		margin-bottom: $b-space-l;
	}
	.video {
		@extend %tC;
		video {
			max-width: 50%;
			border: 1px #aaa solid;
		}
	}
}

.works-role {
	.role-list {
		line-height: 2;
		dt {
			@include font-size(18px);
			font-weight: bold;
			color: #111;
		}
		dd {
			margin-left: 0;
			margin-bottom: $b-space;
		}
	}
}