// *************************************
//
//   Block
// 	 垂直區塊，搭配 .grid 使用（下層元素）
//
// -------------------------------------
//   Template 
// -------------------------------------
//
// .blcok
//   / ...
//
// *************************************

.block {
	@extend %clearfix;
  margin-bottom: $b-space;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// 搭配垂直置中

.block--vc {
	width: calc(100vw - #{$standard-gutter*4});
}


.block--full {
  margin-top: $b-space;
}