/*doc
---
title: loading-view
category: Components - Other
---

Loading中 元件


```
	.full-filter
		.loading-view
			.loading-anime
			span.loading-text Loading…
```


*/


.full-filter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
  background: hsla(0,0%,100%,.5);
  overflow: hidden;
	@extend %vC;
}


.full-filter::before {
		z-index: 99;
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    filter: blur(20px);
    margin: -30px;
}

	.loading-view {
		position:relative;
		@extend %tC;
		width: 200px;
		height: 150px;
		padding: 12px;
		background-color: #fff;
		border: 1px solid lighten($c-text,40);
		border-radius: 6px;
	}

	.loading-text {
		@include font-size(14px);
	}


	.loading-anime,
	.loading-anime::before,
	.loading-anime::after {
		position: absolute;
		top: 50%;
		left: 50%;
		border: 1px solid rgb(204,204,204);
		border-left-color: rgb(0,0,0);
		border-radius: 974px;
			-o-border-radius: 974px;
			-ms-border-radius: 974px;
			-webkit-border-radius: 974px;
			-moz-border-radius: 974px;
	}

	.loading-anime {
		margin: -24px 0 0 -24px;
		height: 49px;
		width: 49px;
		animation: cssload-rotate 1150ms linear infinite;
	}

	.loading-anime::before {
		content: "";
		margin: -22px 0 0 -22px;
		height: 43px;
		width: 43px;
		animation: cssload-rotate 1150ms linear infinite;
	}

	.loading-anime::after {
		content: "";
		margin: -28px 0 0 -28px;
		height: 55px;
		width: 55px;
		animation: cssload-rotate 2300ms linear infinite;
	}

	@keyframes cssload-rotate {
		100% {
			transform: rotate(360deg);
		}
	}
