/*doc
---
title: Row
category: Layout - ContentWrapper
---

Width-spanning blocks


## 一般 row

```slim_example
.row content
```

## important bgcolor row

```slim_example
.row.row--a content
```

##

```slim_example
.row.row--b content
```

*/

.row {
  overflow: hidden;
  padding: 0 $b-space;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.row--a {
  background: $c-important;
}

.row--b {
  // background: $c-subdue;
}
