
/*doc
---
title: Table
category: Table
---

## 一般 Table

```html_example
<table class="table">
  <tr>
    <th>項目</th>
    <th>收費標準</th>
    <th>說明</th>
  </tr>
  <tr>
    <td>EDM</td>
    <td>每 200 封 = 1 點</td>
    <td></td>
  </tr>
  <tr>
    <td>簡訊</td>
    <td>每 1 則  = 1 點</td>
    <td>每次發 200 封扣 1 點</td>
  </tr>
  <tr>
    <td>黑貓托運服務</td>
    <td>每件 60 ～ 190 點</td>
    <td>嘎嘎</td>
  </tr>
</table>
```	



## md-table

```html_example
<table class="table md-table">
  <tr>
    <th>項目</th>
    <th>收費標準</th>
    <th>說明</th>
  </tr>
  <tr>
    <td>EDM</td>
    <td>每 200 封 = 1 點</td>
    <td></td>
  </tr>
  <tr>
    <td>簡訊</td>
    <td>每 1 則  = 1 點</td>
    <td>每次發 200 封扣 1 點</td>
  </tr>
  <tr>
    <td>黑貓托運服務</td>
    <td>每件 60 ～ 190 點</td>
    <td>嘎嘎</td>
  </tr>
</table>
```	


## md-table-condensed

```html_example
<table class="table md-table-condensed">
  <tr>
    <th>項目</th>
    <th>收費標準</th>
    <th>說明</th>
  </tr>
  <tr>
    <td>EDM</td>
    <td>每 200 封 = 1 點</td>
    <td></td>
  </tr>
  <tr>
    <td>簡訊</td>
    <td>每 1 則  = 1 點</td>
    <td>每次發 200 封扣 1 點</td>
  </tr>
  <tr>
    <td>黑貓托運服務</td>
    <td>每件 60 ～ 190 點</td>
    <td>嘎嘎</td>
  </tr>
</table>
```	


## md-table-striped

```html_example
<table class="table md-table-striped">
  <tr>
    <th>項目</th>
    <th>收費標準</th>
    <th>說明</th>
  </tr>
  <tr>
    <td>EDM</td>
    <td>每 200 封 = 1 點</td>
    <td></td>
  </tr>
  <tr>
    <td>簡訊</td>
    <td>每 1 則  = 1 點</td>
    <td>每次發 200 封扣 1 點</td>
  </tr>
  <tr>
    <td>黑貓托運服務</td>
    <td>每件 60 ～ 190 點</td>
    <td>嘎嘎</td>
  </tr>
</table>
```	


*/

// 預設table 樣式參見helper/tables，變數在Config裡

.table {
  // @extend %normal-table;
  // @extend %md-table;
  @extend %md-table-condensed;
  // @extend %md-table-bordered;
  // @extend %md-table-striped;
}

.table {
	@include font-size(13px);
	line-height: 1;
	width: 100%;
	overflow: hidden;
	@extend %tC;
	a {
		font-size: inherit;
	}
}

//-------------------------------------
// Material Design Responsive Table
// http://codepen.io/zavoloklom/pen/IkaFL
// 共4種
// %md-table
// %md-table-condensed
// %md-table-bordered
// %md-table-striped 
//-------------------------------------

.md-table {
  @extend %normal-table;
}

.md-table-condensed {
  @extend %md-table-condensed;
}

.md-table-bordered {
  @extend %md-table-bordered;
}

.md-table-striped  {
  @extend %md-table-striped;
}