
/*doc
---
title: Table
category: Layout - Table
---

## 一般 Table

```slim_example
table.table
  tr
    th 項目
    th 收費標準
    th 說明
  tr
    td EDM
    td 每 200 封 = 1 點
    td
  tr
    td 簡訊
    td 每 1 則  = 1 點
    td 每次發 200 封扣 1 點
  tr
    td 黑貓托運服務
    td 每件 60 ～ 190 點
    td 嘎嘎
```	



## md-table

```slim_example
table.table.md-table
  tr
    th 項目
    th 收費標準
    th 說明
  tr
    td EDM
    td 每 200 封 = 1 點
    td
  tr
    td 簡訊
    td 每 1 則  = 1 點
    td 每次發 200 封扣 1 點
  tr
    td 黑貓托運服務
    td 每件 60 ～ 190 點
    td 嘎嘎

```	


## md-table-condensed

```slim_example
table.table.md-table-condensed
  tr
    th 項目
    th 收費標準
    th 說明
  tr
    td EDM
    td 每 200 封 = 1 點
    td
  tr
    td 簡訊
    td 每 1 則  = 1 點
    td 每次發 200 封扣 1 點
  tr
    td 黑貓托運服務
    td 每件 60 ～ 190 點
    td 嘎嘎
```	


## md-table-striped

```slim_example
table.table.md-table-striped
  tr
    th 項目
    th 收費標準
    th 說明
  tr
    td EDM
    td 每 200 封 = 1 點
    td
  tr
    td 簡訊
    td 每 1 則  = 1 點
    td 每次發 200 封扣 1 點
  tr
    td 黑貓托運服務
    td 每件 60 ～ 190 點
    td 嘎嘎
```	


*/

// 預設table 樣式參見helper/tables，變數在Config裡

.table {
  // @extend %normal-table;
  // @extend %md-table;
  @extend %md-table-condensed;
  // @extend %md-table-bordered;
  // @extend %md-table-striped;
}

.table {
	@include font-size(13px);
	line-height: 1;
	width: 100%;
	overflow: hidden;
	// @extend %tC;
	a {
		font-size: inherit;
	}
}


// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

//-------------------------------------
// Material Design Responsive Table
// http://codepen.io/zavoloklom/pen/IkaFL
// 共4種
// %md-table
// %md-table-condensed
// %md-table-bordered
// %md-table-striped 
//-------------------------------------

.md-table {
  @extend %normal-table;
}

.md-table-condensed {
  @extend %md-table-condensed;
}

.md-table-bordered {
  @extend %md-table-bordered;
}

.md-table-striped  {
  @extend %md-table-striped;
}