
/*doc
---
title: Title
category: Foundation - Typography
---

頁面或是區塊的標題

```slim_example
h1.title.title--page 頁面標題
```

```slim_example
h1.title.title--headline 區塊標題
```

```slim_example
h1.title.title--content 內文標題
```
*/
.title {
  clear: both;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

// 頁面標題
.title.title--page {
	@extend %tC;
  @include font-size(36px);
  color: #222;
	// padding-bottom: 48px;
}
// 區塊標題
.title.title--headline {
	@extend %tC;
  @include font-size(36px);
  color: #222;
  // margin-top: 48px;
	padding-bottom: $b-space-l;
	&:after {
		content: "";
		@extend %blockC;
		background: #0778CD;
		display: block;
		height: 4px;
		width: pxtorem(72px);
		margin-top: 6px;
	}
}
// 區塊次標題
.title.title--subtitle {
  @include font-size(24px);
  color: $c-highlight;
  @extend %tC;
  width: 100%;
  margin-top: $b-space-xl;
	margin-bottom: $b-space-l;
}
// 內文標題
.title.title--content {
  @include font-size(24px);
  // line-height: 1.8;
  margin-bottom: $b-space;
  color: #666;

}