
/*doc
---
title: Youtube iframe
category: Components - Other
---

可以讓Y2b影片符合RWD

```slim_example
.movie.y2b
  iframe allowfullscreen="" frameborder="0" src="http://www.youtube.com/embed/blabal" 

```
*/


.y2b { 
  position: relative; 
  padding-bottom: 40%; 
  padding-top: 100px; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  height: auto; 
} 
.y2b iframe, .y2b object, .y2b embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}